In [1]:
import pandas as pd

In [2]:
url_UCI = "https://opendata.ecdc.europa.eu/covid19/hospitalicuadmissionrates/csv/data.csv"
df_uci = pd.read_csv(url_UCI)

In [3]:
df_uci.head(100)

,country,indicator,date,year_week,value,source,url
0,Austria,Daily hospital occupancy,2020-04-01,2020-W14,856.0,Country_Website,https://covid19-dashboard.ages.at/dashboard_Ho...
1,Austria,Daily hospital occupancy,2020-04-02,2020-W14,823.0,Country_Website,https://covid19-dashboard.ages.at/dashboard_Ho...
2,Austria,Daily hospital occupancy,2020-04-03,2020-W14,829.0,Country_Website,https://covid19-dashboard.ages.at/dashboard_Ho...
3,Austria,Daily hospital occupancy,2020-04-04,2020-W14,826.0,Country_Website,https://covid19-dashboard.ages.at/dashboard_Ho...
4,Austria,Daily hospital occupancy,2020-04-05,2020-W14,712.0,Country_Website,https://covid19-dashboard.ages.at/dashboard_Ho...
...,...,...,...,...,...,...,...
95,Austria,Daily hospital occupancy,2020-07-05,2020-W27,62.0,Country_Website,https://covid19-dashboard.ages.at/dashboard_Ho...
96,Austria,Daily hospital occupancy,2020-07-06,2020-W28,67.0,Country_Website,https://covid19-dashboard.ages.at/dashboard_Ho...
97,Austria,Daily hospital occupancy,2020-07-07,2020-W28,81.0,Country_Website,https://covid19-dashboard.ages.at/dashboard_Ho...
98,Austria,Daily hospital occupancy,2020-07-08,2020-W28,66.0,Country_Website,https://covid19-dashboard.ages.at/dashboard_Ho...
99,Austria,Daily hospital occupancy,2020-07-09,2020-W28,66.0,Country_Website,https://covid19-dashboard.ages.at/dashboard_Ho...

In [4]:
print((df_uci.isnull().sum()/len(df_uci))*100)

country      0.000000
indicator    0.000000
date         0.000000
year_week    0.000000
value        0.000000
source       0.000000
url          9.862196
dtype: float64

In [5]:
df_uci['indicator'].unique()

array(['Daily hospital occupancy', 'Daily ICU occupancy',
       'Weekly new hospital admissions per 100k',
       'Weekly new ICU admissions per 100k'], dtype=object)

In [6]:
# Divido el dataset en 4 dataset por indicator y luego los uno en uno solo por columnas
df_uci['id-merge-country-date'] = df_uci['country']+df_uci['date']
df_uci = df_uci.drop(['year_week', 'source', 'url'], axis=1)

In [7]:
# Hospital_Occupancy

filter_uci = df_uci['indicator'] == 'Daily hospital occupancy'

# DEFINO EL DATAFRAME
df_uci_1 = df_uci[filter_uci]
df_uci_1 = df_uci_1.rename(columns={'value':'Hospital_Occupancy'})
df_uci_1 = df_uci_1.drop(['indicator','date','country'], axis=1)

df_uci_1

       Hospital_Occupancy id-merge-country-date
0                   856.0     Austria2020-04-01
1                   823.0     Austria2020-04-02
2                   829.0     Austria2020-04-03
3                   826.0     Austria2020-04-04
4                   712.0     Austria2020-04-05
...                   ...                   ...
30733               496.0      Sweden2021-12-15
30734               526.0      Sweden2021-12-16
30735               524.0      Sweden2021-12-17
30736               513.0      Sweden2021-12-18
30737               515.0      Sweden2021-12-19

[15581 rows x 2 columns]

In [8]:
# ICU occupancy

filter_uci = df_uci['indicator'] == 'Daily ICU occupancy'

#DEFINO EL DATAFRAME
df_uci_2 = df_uci[filter_uci]
df_uci_2 = df_uci_2.rename(columns={'value':'ICU_Occupancy'})
df_uci_2 = df_uci_2.drop(['indicator','date','country'], axis=1)

df_uci_2

       ICU_Occupancy id-merge-country-date
628            215.0     Austria2020-04-01
629            219.0     Austria2020-04-02
630            245.0     Austria2020-04-03
631            245.0     Austria2020-04-04
632            244.0     Austria2020-04-05
...              ...                   ...
31395           75.0      Sweden2021-12-15
31396           70.0      Sweden2021-12-16
31397           68.0      Sweden2021-12-17
31398           72.0      Sweden2021-12-18
31399           72.0      Sweden2021-12-19

[12807 rows x 2 columns]

In [11]:
df_uci = df_uci.drop(['indicator','value','country'], axis=1)
df_uci

             date id-merge-country-date
0      2020-04-01     Austria2020-04-01
1      2020-04-02     Austria2020-04-02
2      2020-04-03     Austria2020-04-03
3      2020-04-04     Austria2020-04-04
4      2020-04-05     Austria2020-04-05
...           ...                   ...
31489  2021-11-21      Sweden2021-11-21
31490  2021-11-28      Sweden2021-11-28
31491  2021-12-05      Sweden2021-12-05
31492  2021-12-12      Sweden2021-12-12
31493  2021-12-19      Sweden2021-12-19

[31494 rows x 2 columns]

In [12]:
df_uci = pd.merge(df_uci, df_uci_1 , how='left', on='id-merge-country-date')
df_uci = pd.merge(df_uci, df_uci_2 , how='left', on='id-merge-country-date')
df_uci

             date id-merge-country-date  Hospital_Occupancy  ICU_Occupancy
0      2020-04-01     Austria2020-04-01               856.0          215.0
1      2020-04-02     Austria2020-04-02               823.0          219.0
2      2020-04-03     Austria2020-04-03               829.0          245.0
3      2020-04-04     Austria2020-04-04               826.0          245.0
4      2020-04-05     Austria2020-04-05               712.0          244.0
...           ...                   ...                 ...            ...
31489  2021-11-21      Sweden2021-11-21               272.0           31.0
31490  2021-11-28      Sweden2021-11-28               293.0           29.0
31491  2021-12-05      Sweden2021-12-05               344.0           46.0
31492  2021-12-12      Sweden2021-12-12               451.0           53.0
31493  2021-12-19      Sweden2021-12-19               515.0           72.0

[31494 rows x 4 columns]